<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AC-curate</title>
    <link rel= "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<script src="static/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function(){
    window.setInterval(function(){
        $.get("http://localhost/get-current", function(data, status){
            document.getElementById("current-humidity").innerText = data.data.humidity + " %";
            document.getElementById("current-temperature").innerText = data.data.temperature + " C";

        });
    }, 2000);
});
</script>
<body>
    <div class="grid-container">
        <h3 class="title grid-item">Informasi Perangkat</h3>
        <div class="grid-item">
            <div class="table-container">
                <div class="table-item">Merek AC</div>
                <div class="table-item">{{ data.merk }}</div>
            </div>
            <div class="table-container">
                <div class="table-item">Current Temperature</div>
                <div class="table-item" id="current-temperature">{{ data.temperature }} C</div>
            </div>
            <div class="table-container">
                <div class="table-item">Current Humidity</div>
                <div class="table-item" id="current-humidity">{{ data.humidity }} %</div>
            </div>
        </div>
        <div class="grid-item">
            <a href="/on/">
                <button class="power-btn">
                    <i class="material-icons">arrow_drop_up</i>
                    <h2 id="status" class="status-on">Inc</h2>
                </button>
            </a>
            <a href="/off/">
                <button class="power-btn">
                    <i class="material-icons">arrow_drop_down</i><br>
                    <h2 id="status" class="status-off">Dec</h2>
                </button>
            </a>
        </div>
    </div>
    <script>

    </script>
    <script>
        function changeStatus() {
            const status = document.getElementById("status");
            if (status.classList.contains('status-on')) {
                status.classList.remove('status-on');
                status.classList.add('status-off');
                status.innerHTML = "OFF";
            } else if (status.classList.contains('status-off')) {
                status.classList.remove('status-off');
                status.classList.add('status-on');
                status.innerHTML = "ON";
            }
        }
    </script>
</body>
</html>